*{
    padding:0px;
    margin:0px;
    word-wrap: break-word;
}

.poster{
    color:red;
}
.header{
    text-align:right;
}
.quotes{
    border:1px solid black;
    overflow-y:scroll;
    height:450px;
    padding:10px;
}
.quote{
    border:1px solid black;
    width:95%;
    margin:auto;
    margin-top:10px;
    padding:5px;
}

.fav_quotes{
    border:1px solid black;
    overflow-y:scroll;
    height:200px;
    margin-bottom:20px;
    padding:10px;
}
.posted_quotes{
    margin-bottom:10px;

}

.posted_quotes p{
    border-bottom:1px solid black;
    padding:0px 0px 20px 0px;
}

.quote form{
    margin-left:350px;
}

.error{
    color:red;
}